<div class="logocontainer">
  <img class="logo" src="../assets/WaveLogo.svg" alt="">
</div>
<div class="contentcontainer">
  <div class="explanationcontainer">
    <p>This is a wave assistant that grabs wave data and displays it conversationally. The assistant currently only grabs wave data from Clearwater Beach Florida due to API limitaions but is wired to grab from any location if I am ever given access to the commercial API.
      Checkout the <a href="https://github.com/Cbuzzard/wave_assistant">Github repository</a> 
      and my <a href="https://buzzardsview.com">portfolio</a></p>
    <ul>
      <h3>Test Commands</h3>
      <li>"how are the waves"</li>
      <li>"how are the waves today"</li>
      <li>"when is the highest wave this week"</li>
      <li>"when are the good waves"</li>
      <li>"what are the best waves each day"</li>
    </ul>
  </div>
  
  <div class="chatcontainer">
    <iframe class="chat" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/1ab09283-f1b6-4243-954b-fffd9f85cbf6"></iframe>
  </div>
</div>
